
$font-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-mono: 'Courier New', Courier, monospace;
$font-title: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-classic: 'Times New Roman', Times, serif;
$color-black: rgb(0, 0, 0);
$color-red: red;


h1 {
  font-family: $font-sans, $font-mono;
}

section {
  font-size: large;
}

.nombre-precio {
  font-family: $font-title;
}

.menu {
  font-size: 45px;
  font-family: $font-classic;
  text-decoration: none !important;
  color: $color-black;

  &:visited {
    text-decoration: none;
    color: $color-red;
  }
}

.p-footer {
  font-family: $font-sans;
  font-size: small;
}

.logo {
  width: 5%;
  height: auto;
}

.logo-footer {
  width: 23%;
  height: auto;
}

.portada {
  background-image: url(assets/portadaaa.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  height: 390px;
  color: white;
}

.navbar {
  font-size: 20px;
  position: fixed;
}

.Catalogoautos {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}